version: '3.8'

services:
  web:
    container_name: urbanaut-website
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env.production
    restart: unless-stopped

