@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.1450 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1450 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1450 0 0);
    --primary: oklch(0.2050 0 0);
    --primary-foreground: oklch(0.9850 0 0);
    --secondary: oklch(0.9700 0 0);
    --secondary-foreground: oklch(0.2050 0 0);
    --muted: oklch(0.9700 0 0);
    --muted-foreground: oklch(0.5560 0 0);
    --accent: oklch(0.9700 0 0);
    --accent-foreground: oklch(0.2050 0 0);
    --destructive: oklch(0.5770 0.2450 27.3250);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9220 0 0);
    --input: oklch(0.9220 0 0);
    --ring: oklch(0.7080 0 0);
    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);
    --sidebar: oklch(0.9850 0 0);
    --sidebar-foreground: oklch(0.1450 0 0);
    --sidebar-primary: oklch(0.2050 0 0);
    --sidebar-primary-foreground: oklch(0.9850 0 0);
    --sidebar-accent: oklch(0.9700 0 0);
    --sidebar-accent-foreground: oklch(0.2050 0 0);
    --sidebar-border: oklch(0.9220 0 0);
    --sidebar-ring: oklch(0.7080 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --color-base-none: 255, 255, 255;
    --color-base-easy: 0, 255, 0;
    --color-base-medium: 255, 255, 0;
    --color-base-hard: 255, 0, 0;
    --color-base-impossible: 157, 0, 255;

    --color-achievement-initiation: rgba(var(--color-base-none), 0.3);
    --color-achievement-growth: rgba(var(--color-base-easy), 0.3);
    --color-achievement-mastery: rgba(var(--color-base-medium), 0.3);
    --color-achievement-valor: rgba(var(--color-base-hard), 0.3);
    --color-achievement-transcendence: rgba(var(--color-base-impossible), 0.3);

    --drop-shadow-volume: 0 0 10px rgba(0, 0, 0, 0.5);

    --drop-shadow-rank-rookie: 3px 3px 5px rgba(var(--color-base-none), 0.3);
    --drop-shadow-rank-amateur: 3px 3px 5px rgba(var(--color-base-easy), 0.3);
    --drop-shadow-rank-profi: 3px 3px 5px rgba(var(--color-base-medium), 0.3);
    --drop-shadow-rank-stalker: 3px 3px 5px rgba(var(--color-base-hard), 0.3);
    --drop-shadow-rank-legend: 3px 3px 5px rgba(var(--color-base-impossible), 0.3);

    --color-security-none: rgba(var(--color-base-none), 0.3);
    --color-security-easy: rgba(var(--color-base-easy), 0.3);
    --color-security-medium: rgba(var(--color-base-medium), 0.3);
    --color-security-hard: rgba(var(--color-base-hard), 0.3);
    --color-security-impossible: rgba(var(--color-base-impossible), 0.3);

    --color-security-none-hover: rgba(var(--color-base-none), 0.4);
    --color-security-easy-hover: rgba(var(--color-base-easy), 0.4);
    --color-security-medium-hover: rgba(var(--color-base-medium), 0.4);
    --color-security-hard-hover: rgba(var(--color-base-hard), 0.4);
    --color-security-impossible-hover: rgba(var(--color-base-impossible), 0.4);

    --color-difficulty-newbie: rgba(var(--color-base-none), 0.3);
    --color-difficulty-easy: rgba(var(--color-base-easy), 0.3);
    --color-difficulty-medium: rgba(var(--color-base-medium), 0.3);
    --color-difficulty-hard: rgba(var(--color-base-hard), 0.3);
    --color-difficulty-impossible: rgba(var(--color-base-impossible), 0.3);

    --color-preservation-none: rgba(var(--color-base-none), 0.3);
    --color-preservation-low: rgba(var(--color-base-hard), 0.3);
    --color-preservation-medium: rgba(var(--color-base-medium), 0.3);
    --color-preservation-high: rgba(var(--color-base-easy), 0.3);
    --color-preservation-awesome: rgba(var(--color-base-impossible), 0.3);

    --color-preservation-none-hover: rgba(var(--color-base-none), 0.4);
    --color-preservation-low-hover: rgba(var(--color-base-hard), 0.4);
    --color-preservation-medium-hover: rgba(var(--color-base-medium), 0.4);
    --color-preservation-high-hover: rgba(var(--color-base-easy), 0.4);
    --color-preservation-awesome-hover: rgba(var(--color-base-impossible), 0.4);
}

.dark {
    --background: oklch(0.1450 0 0);
    --foreground: oklch(0.9850 0 0);
    --card: oklch(0.2050 0 0);
    --card-foreground: oklch(0.9850 0 0);
    --popover: oklch(0.2690 0 0);
    --popover-foreground: oklch(0.9850 0 0);
    --primary: oklch(0.9220 0 0);
    --primary-foreground: oklch(0.2050 0 0);
    --secondary: oklch(0.2690 0 0);
    --secondary-foreground: oklch(0.9850 0 0);
    --muted: oklch(0.2690 0 0);
    --muted-foreground: oklch(0.7080 0 0);
    --accent: oklch(0.3710 0 0);
    --accent-foreground: oklch(0.9850 0 0);
    --destructive: oklch(0.7040 0.1910 22.2160);
    --destructive-foreground: oklch(0.9850 0 0);
    --border: oklch(0.2750 0 0);
    --input: oklch(0.3250 0 0);
    --ring: oklch(0.5560 0 0);
    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);
    --sidebar: oklch(0.2050 0 0);
    --sidebar-foreground: oklch(0.9850 0 0);
    --sidebar-primary: oklch(0.4880 0.2430 264.3760);
    --sidebar-primary-foreground: oklch(0.9850 0 0);
    --sidebar-accent: oklch(0.2690 0 0);
    --sidebar-accent-foreground: oklch(0.9850 0 0);
    --sidebar-border: oklch(0.2750 0 0);
    --sidebar-ring: oklch(0.4390 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --drop-shadow-volume: var(--drop-shadow-volume);

    --drop-shadow-rank-rookie: var(--drop-shadow-rank-rookie);
    --drop-shadow-rank-amateur: var(--drop-shadow-rank-amateur);
    --drop-shadow-rank-profi: var(--drop-shadow-rank-profi);
    --drop-shadow-rank-stalker: var(--drop-shadow-rank-stalker);
    --drop-shadow-rank-legend: var(--drop-shadow-rank-legend);

    --color-achievement-initiation: var(--color-achievement-initiation);
    --color-achievement-growth: var(--color-achievement-growth);
    --color-achievement-mastery: var(--color-achievement-mastery);
    --color-achievement-valor: var(--color-achievement-valor);
    --color-achievement-transcendence: var(--color-achievement-transcendence);

    --color-security-none: var(--color-security-none);
    --color-security-easy: var(--color-security-easy);
    --color-security-medium: var(--color-security-medium);
    --color-security-hard: var(--color-security-hard);
    --color-security-impossible: var(--color-security-impossible);

    --color-security-none-hover: var(--color-security-none-hover);
    --color-security-easy-hover: var(--color-security-easy-hover);
    --color-security-medium-hover: var(--color-security-medium-hover);
    --color-security-hard-hover: var(--color-security-hard-hover);
    --color-security-impossible-hover: var(--color-security-impossible-hover);

    --color-difficulty-newbie: var(--color-difficulty-newbie);
    --color-difficulty-easy: var(--color-difficulty-easy);
    --color-difficulty-medium: var(--color-difficulty-medium);
    --color-difficulty-hard: var(--color-difficulty-hard);
    --color-difficulty-impossible: var(--color-difficulty-impossible);

    --color-preservation-none: var(--color-preservation-none);
    --color-preservation-low: var(--color-preservation-low);
    --color-preservation-medium: var(--color-preservation-medium);
    --color-preservation-high: var(--color-preservation-high);
    --color-preservation-awesome: var(--color-preservation-awesome);

    --color-preservation-none-hover: var(--color-preservation-none-hover);
    --color-preservation-low-hover: var(--color-preservation-low-hover);
    --color-preservation-medium-hover: var(--color-preservation-medium-hover);
    --color-preservation-high-hover: var(--color-preservation-high-hover);
    --color-preservation-awesome-hover: var(--color-preservation-awesome-hover);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.button-grow {
    transition: transform 0.3s ease;
}

.button-grow:hover {
    transform: scale(1.01);
}

.leaflet-tooltip {
    background-color: color-mix(in srgb, var(--color-background) 80%, transparent) !important;
    color: var(--card-foreground) !important;
    padding: var(--spacing) !important;
    border-color: var(--color-border) !important;
    border-radius: var(--radius) !important;
    /*opacity: 0 !important;*/
}

.leaflet-tooltip-bottom::before {
    border-color: #ff0000 !important;
    opacity: 0 !important;
}

.disabled {
    @apply opacity-50;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}